__pycache__/ 
*.pyc 
extracted/ 
extracted_pages/ 
terms_extracted/ 
terms_new_extracted/ 
terms2_extracted/ 
text_summary_extracted/ 
video_supp_extracted/ 
*dump*.txt
backups/
.windsurf/
.windsurfignore
fix_structure.ps1
source_citation_extracted/
supp_oer_extracted/
